<header>
    <div id="top" class="container">
      <div class="row">
        <!-- <div class="col-md-12 logo">
            <div class="content-logo"><img src="./assets/images/logo.jpg" alt="" /></div>
        </div> -->
        <nav>
          <div class="mini-menu"><i class="fa fa-bars"></i></div>
          <ul class="menu" auto-active >
            <li class="cl-effect-11"><a data-hover="HOME" [routerLink]="'home'" routerLinkActive="current">Home</a></li>
            <!-- <li class="cl-effect-11"><a data-hover="WORK" [routerLink]="'work'" routerLinkActive="current">Work</a></li> -->
            <!-- <li class="cl-effect-11"><a data-hover="EXPERIENCES" [routerLink]="'experiences'" routerLinkActive="current">Experiences</a></li> -->
            <li class="cl-effect-11"><a data-hover="BLOG" [routerLink]="'blog'" routerLinkActive="current">Blog</a></li>
            <li class="cl-effect-11"><a data-hover="CONTACT" [routerLink]="'contact'" routerLinkActive="current">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
</header>