<section id="section1" class="page-effect">
    <div class="container">
        <div class="row">

            <h1> Welcome</h1>
           <div class="box-content">
              <div class="col-md-4">
                  <div class="box-text">
                      <h2>Hi, I'm Ryan Dunning</h2>
                      <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. 
                          Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero.</p>
                          <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-text">
                      <!-- <div class="image-box"></div> -->
                      <!-- List of Technical Skills -->
                        <h2>Technical Skills</h2>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Node.js</li>
                            <li>Express</li>
                            <li>MySQL</li>
                            <li>MongoDB</li>
                            <li>PHP</li>
                            <li>WordPress</li>
                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>After Effects</li>
                            <li>Final Cut Pro</li>
                        </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-text">
                      <h2>Personal data</h2>
                      <p>Date of birth: 05/11/1980</p>
                      <p>Phone: +12-345-6789</p>
                      <p>E-mail: info@minime.com</p>
                      <h2>Education</h2>
                      <p>Academy of Art University</p>
                      <p>IT Technical Institute</p>
                      <p>Web Design School</p>
                  </div>
               </div>
           </div><!--close box content-->

      </div>
    </div>

    <div class="home-parallax">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="box-text">
                        <div class="image-box-left"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. 
                           Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero.</p>
                        <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-text">
                        <div class="image-box-right"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>